@page "/about"

<h3>About the process</h3>
<p>
    We use GitHub issues, project boards, and milestones to track our work. We use
    four categories of issues:
</p>
<ul>
    <li>
        <p>
            <strong>Epic</strong>. Epics are a theme of work that contain several experiences needed to
            complete the larger goal. An epic will often have an associated theme document
            describing the objectives.
        </p>
    </li>
    <li>
        <p>
            <strong>Experience</strong>. An experience represents a specific and tangible customer
            experience that is delivered within the release, and can typically be
            implemented in a few sprints. Experiences are usually blog-worthy
            deliverables.
        </p>
    </li>
    <li>
        <p>
            <strong>User story</strong>. The common structure for a user story addresses the &quot;who,
            what, and why&quot; of a feature: <code>As a &lt;user type&gt;, I want to &lt;task&gt; so that
            &lt;goal&gt;.</code> For example: <code>As a &lt;customer&gt;, I want to &lt;create an account&gt;
            so that &lt;I can make purchases&gt;.</code>
        </p>
    </li>
    <li>
        <p>
            <strong>Issue</strong>. These are all other work items. These could be bugs, features, or
            developer tasks. We leave it up to the engineering team/area owner how and if
            they want to use these.
        </p>
    </li>
</ul>
<p>
    All four of them are represented as GitHub issues. The first three are encoded
    by applying a label called <code>Epic</code>, <code>Experience</code>, or <code>User Story</code>.
    The last one is simply any issue that doesn&#39;t have of these special labels applied.
</p>
<p>
    The general structure is that an <code>Epic</code> will have one or more <code>Experience</code>
    issues, which in turn has one or more <code>User Story</code> issues under them. Since
    GitHub has no formal way of declaring children, the nesting is expressed by
    referencing the issue inside a task list. The task list item is meant to be
    marked when the referenced issue is completed.
</p>
<h3 id="how-to-create-new-epics-experiences-and-user-stories">How to create new epics, experiences, and user stories</h3>
<ul>
    <li><a href="https://github.com/dotnet/core/issues/new?template=epic.md">Create new epic</a></li>
    <li><a href="https://github.com/dotnet/core/issues/new?template=experience.md">Create new experience</a></li>
    <li><a href="https://github.com/dotnet/core/issues/new?template=user_story_template.md">Create new user story</a></li>
</ul>
