@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* GitHub styling */

.gh-label {
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
}

.gh-details-cell {
    margin-top: 2px;
    line-height: 1.25 !important;
    font-size: 12px !important;
    color: #586069 !important;
}

.gh-project-status {
    background-color: lightcyan;
    border: 1px solid lightgray;
    color: dimgray;
    border-radius: 4px;
    margin-right: 0.25rem;
    padding: 2px;
}

.gh-issue {

}

    .gh-issue.muted {
        opacity: 0.5;
    }

.gh-issue-title {
    text-decoration: none !important;
    color: black;
    font-weight: bold;
}

.gh-issue-kind-header {
    display: block;
    margin-bottom: -0.15rem;
    width: .4rem;
    margin-right: .25rem;
}

    .gh-issue-kind-header.theme {
        background-color: purple;
    }

    .gh-issue-kind-header.epic {
        background-color: #c6415a;
    }

    .gh-issue-kind-header.userstory {
        background-color: #0e8a16;
    }

    .gh-issue-kind-header.issue {
        background-color: darkgray;
    }

.gh-issue-kind {
    color: white;
    border: 1px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

    .gh-issue-kind.theme {
        background-color: purple;
    }

    .gh-issue-kind.epic {
        background-color: #c6415a;
    }

    .gh-issue-kind.userstory {
        background-color: #0e8a16;
    }

    .gh-issue-kind.issue {
        color: black;
        background-color: darkgray;
    }

/* Tree */
.tree ul {
    margin-left: 0px;
}

.tree li {
    list-style-type: none;
    margin: 10px;
    position: relative;
}

    .tree li::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -20px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 0 0px;
        width: 15px;
        height: 15px;
    }

    .tree li::after {
        position: absolute;
        content: "";
        top: 11px;
        left: -20px;
        border-left: 1px solid #ccc;
        border-radius: 0px 0 0 0;
        width: 15px;
        height: 100%;
    }

    .tree li:last-child::after {
        display: none;
    }

    .tree li:last-child:before {
        border-radius: 0 0 0 5px;
    }

.tree-toggle {
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #ccc;
    margin-left: -5px;
    margin-right: 5px;
    padding: 2px;
    font-size: 11px;
    height: 19px;
    width: 19px;
    cursor: pointer;
}

    .tree-toggle:hover {
        border-color: darkgray;
        color: darkgray;
    }

/*ul.tree > li:first-child::before {
    display: none;
}

ul.tree > li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 2px 5px;
}

    .tree li a:hover, .tree li a:hover + ul li a,
    .tree li a:focus, .tree li a:focus + ul li a {
        background: #ccc;
        color: #000;
        border: 1px solid #000;
    }

        .tree li a:hover + ul li::after, .tree li a:focus + ul li::after,
        .tree li a:hover + ul li::before, .tree li a:focus + ul li::before
        .tree li a:hover + ul::before, .tree li a:focus + ul::before
        .tree li a:hover + ul ul::before, .tree li a:focus + ul ul::before {
            border-color: #000;*/ /*connector color on hover*/
        /*}*/