@import url('../fonts/open-iconic-bootstrap.min.css');

:root {
    --dotnet-purple: #512bd4;
    --dotnet-purple-hover: #4411BB;
    --dotnet-purple-border-hover: #3311BB;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}
.dropdown-toggle:focus ~ .dropdown-menu {
    display: block;
}
.dropdown-menu:hover {
    display: block;
}

.validation-message {
    color: red;
}

.bg-dotnet {
    background-color: var(--dotnet-purple) !important;
}

.btn-dotnet {
    color: #fff;
    background-color: var(--dotnet-purple);
    border-color: var(--dotnet-purple);
}

    .btn-dotnet:hover {
        color: #fff;
        background-color: var(--dotnet-purple-hover);
        border-color: var(--dotnet-purple-border-hover);
    }

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* GitHub styling */

.gh-label {
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
}

.gh-details-cell {
    margin-top: 2px;
    line-height: 1.25 !important;
    font-size: 12px !important;
    color: #586069 !important;
}

.gh-project-status {
    background-color: lightcyan;
    border: 1px solid lightgray;
    color: dimgray;
    border-radius: 4px;
    margin-right: 0.25rem;
    padding: 2px;
}

.gh-issue {

}

    .gh-issue.muted {
        opacity: 0.5;
    }

.gh-issue-title {
    font-weight: bold;
    text-decoration: none !important;
    color: black;
}

.gh-issue-kind-header {
    display: block;
    margin-bottom: -0.15rem;
    border-left: .4rem solid;
    margin-right: .25rem;
    flex-shrink: 0;
}

    .gh-issue-kind-header.bottom-up {
        border-left-style: dashed;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.theme {
        border-color: purple;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.epic {
        border-color: #c6415a;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.userstory {
        border-color: #0e8a16;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.issue {
        border-color: darkgray;
    }

/* Tree */

.tree ul {
    margin-left: 0px;
}

.tree li {
    list-style-type: none;
    margin: 10px;
    position: relative;
}

    .tree li::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -20px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 0 0px;
        width: 15px;
        height: 15px;
    }

    .tree li::after {
        position: absolute;
        content: "";
        top: 11px;
        left: -20px;
        border-left: 1px solid #ccc;
        border-radius: 0px 0 0 0;
        width: 15px;
        height: 100%;
    }

    .tree li:last-child::after {
        display: none;
    }

    .tree li:last-child:before {
        border-radius: 0 0 0 5px;
    }

.tree-toggle {
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #ccc;
    margin-left: -5px;
    margin-right: 5px;
    padding: 2px;
    font-size: 11px;
    height: 19px;
    width: 19px;
    cursor: pointer;
}

    .tree-toggle:hover {
        border-color: darkgray;
        color: darkgray;
    }
