@import url('../fonts/open-iconic-bootstrap.min.css');

:root {
    --dotnet-purple: #512bd4;
    --dotnet-purple-hover: #4411BB;
    --dotnet-purple-border-hover: #3311BB;
}

.tree-toggle:before {
    display: inline-block;
}
.tree-toggle:focus {
    outline: none;
}
.tree-toggle.oi-plus:focus:before {
    content: '\e08c';
    color: darkgreen;
    font-size: 1.4em;
    font-weight: bold;
    margin: -.1em 0 0 -.1em;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}
/*! purgecss ignore */
.node-closed {
    max-height: 102px;
}
/*! purgecss ignore */
.node-open {
    max-height: unset;
    animation: expand 0.5s ease-out;
}
@keyframes expand {
    0% {
        max-height: 102px;
    }
    99% {
        max-height: 600px;
    }
    100% {
        max-height: unset;
    }
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}
.dropdown-toggle:focus ~ .dropdown-menu {
    display: block;
}
.dropdown-menu:hover {
    display: block;
}

.validation-message {
    color: red;
}

.bg-dotnet {
    background-color: var(--dotnet-purple) !important;
}

.btn-dotnet {
    color: #fff;
    background-color: var(--dotnet-purple);
    border-color: var(--dotnet-purple);
}

    .btn-dotnet:hover {
        color: #fff;
        background-color: var(--dotnet-purple-hover);
        border-color: var(--dotnet-purple-border-hover);
    }

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Bootstrap extensions */

.btn-muted {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

    .btn-muted:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }

@media (prefers-color-scheme: dark) {

    .btn-muted {
        color: #ced4da;
        background-color: #343a40;
        border-color: #343a40;
    }

        .btn-muted:hover {
            color: #ced4da;
            background-color: #23272b;
            border-color: #1d2124;
        }
}

/* GitHub styling */

.gh-label {
    margin: 0 2px;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    --perceived-lightness: calc((var(--label-r)*0.2126 + var(--label-g)*0.7152 + var(--label-b)*0.0722)/255);
    --lightness-switch: max(0,min(calc((var(--perceived-lightness) - var(--lightness-threshold))*-1000),1));
    --lightness-threshold: 0.453;
    --border-threshold: 0.96;
    --border-alpha: max(0,min(calc((var(--perceived-lightness) - var(--border-threshold))*100),1));
    background: rgb(var(--label-r),var(--label-g),var(--label-b));
    color: hsl(0,0%,calc(var(--lightness-switch)*100%));
    border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) - 25)*1%),var(--border-alpha));
}

.gh-details-cell {
    margin-top: 2px;
    line-height: 1.9 !important;
    font-size: 12px !important;
    color: #586069 !important;
}

.gh-project-status {
    background-color: lightcyan;
    border: 1px solid lightgray;
    color: dimgray;
    border-radius: 4px;
    margin-right: 0.25rem;
    padding: 2px 7px;
}

.gh-issue {

}

    .gh-issue.muted {
        opacity: 0.5;
    }

.gh-issue-title {
    text-decoration: none !important;
    color: var(--color-text-primary);
    font-weight: bold;
}

.gh-issue-kind-header {
    display: block;
    margin-bottom: -0.15rem;
    border-left: .4rem solid;
    margin-right: .25rem;
    flex-shrink: 0;
}

    .gh-issue-kind-header.bottom-up {
        border-left-style: dashed;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.theme {
        border-color: purple;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.epic {
        border-color: #c6415a;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.userstory {
        border-color: #0e8a16;
    }
/*! purgecss ignore */
    .gh-issue-kind-header.issue {
        border-color: darkgray;
    }

@media (prefers-color-scheme: dark) {

    a:hover {
        color: rgb(88, 166, 255);
    }

    .gh-label {
        --lightness-threshold: 0.6;
        --background-alpha: 0.18;
        --border-alpha: 0.3;
        --lighten-by: calc((var(--lightness-threshold) - var(--perceived-lightness))*100*var(--lightness-switch));
        background: rgba(var(--label-r),var(--label-g),var(--label-b),var(--background-alpha));
        color: hsl(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) + var(--lighten-by))*1%));
        border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) + var(--lighten-by))*1%),var(--border-alpha));
    }

    .gh-project-status {
        background-color: rgba(104, 191, 28, 0.18);
        border-color: rgba(104, 191, 28, 0.3);
        color: rgb(104, 191, 28);
    }
}

/* Tree */

.tree ul {
    margin-left: 0px;
}

.tree li {
    list-style-type: none;
    margin: 10px;
    position: relative;
}

    .tree li::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -20px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 0 0px;
        width: 15px;
        height: 15px;
    }

    .tree li::after {
        position: absolute;
        content: "";
        top: 11px;
        left: -20px;
        border-left: 1px solid #ccc;
        border-radius: 0px 0 0 0;
        width: 15px;
        height: 100%;
    }

    .tree li:last-child::after {
        display: none;
    }

    .tree li:last-child:before {
        border-radius: 0 0 0 5px;
    }

.tree-toggle {
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #ccc;
    margin-right: 5px;
    padding: 2px;
    font-size: 11px;
    height: 19px;
    width: 19px;
    cursor: pointer;
}

    .tree-toggle:hover {
        border-color: darkgray;
        color: darkgray;
    }

@media (prefers-color-scheme: dark) {

    .tree li::before {
        border-left-color: var(--dark);
        border-bottom-color: var(--dark);
    }

    .tree li::after {
        border-left-color: var(--dark);
    }

    .tree-toggle {
        border-color: var(--dark);
        color: var(--dark);
    }

        .tree-toggle:hover {
            border-color: lightslategray;
            color: lightslategray;
        }
}